@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

*{
    font-family: 'Fugaz One', cursive;
}

.active-link{
    font-weight: bold;
    color: white;





}

.navbar{
    /* background-color: #c9c0ce; */
    /* background-image: -webkit-linear-gradient( top, #222023, #1e2c47 );
    background-image: -moz-linear-gradient( top, #222023, #1e2c47 );
    background-image: -o-linear-gradient( top, #222023, #1e2c47 ); */
    background-image: linear-gradient( #000000, #55EFC4 );
    color: aliceblue;
}

.nq{
    color: white;
    /* font-family: 'Bebas Neue', cursive; */
}