<div class="container ">
    <h1>Contact Us</h1>
    <form class="col-lg-8">
        <div class="row">
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Your First Name">
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Your Last Name">
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Your Email ID">
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Your Mobile Number">
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <button (click)="alertContact()" class="btn btn-md btn-dark">Submit</button>
            </div>
        </div>
</form>
</div>