<div class="container ">
    <h1 class="text-center">About</h1>
    <p>Discover the best local restaurants with ease with our restaurant app! Browse through menus, read reviews, and view photos of mouth-watering dishes. You can also make reservations, order takeout or delivery, and save your favorite restaurants for quick access. Our app is user-friendly and designed to provide the ultimate dining experience. Find the perfect place for any occasion, whether you're in the mood for a quick bite or a fancy dinner. Download now and treat your taste buds to a delicious adventure!</p>
</div>